openapi: 3.2.0
info:
  title: HR Partner REST Training API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Training
  description: Read employee training and course completion records.
paths:
  /training:
    get:
      tags:
      - Training
      operationId: listTraining
      summary: List Training Records
      description: List employee training and course records.
      parameters:
      - name: employee
        in: query
        schema:
          type: string
      - name: training_type
        in: query
        schema:
          type: string
      - name: course_name
        in: query
        schema:
          type: string
      - name: institution
        in: query
        schema:
          type: string
      - name: training_status
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of training records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Training'
components:
  schemas:
    Training:
      type: object
      properties:
        id:
          type: string
        training_type:
          type: string
        course_name:
          type: string
        institution:
          type: string
        commence_date:
          type: string
          format: date
        completion_date:
          type: string
          format: date
        training_status:
          type: string
        cost:
          type: number
        reimbursement:
          type: number
        comments:
          type: string
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
