openapi: 3.2.0
info:
  title: HR Partner REST Library API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Library
  description: Read document library files and categories.
paths:
  /library/documents:
    get:
      tags:
      - Library
      operationId: listLibraryDocuments
      summary: List Library Documents
      description: List documents in the company document library.
      responses:
        '200':
          description: List of library documents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LibraryDocument'
  /library/categories:
    get:
      tags:
      - Library
      operationId: listLibraryCategories
      summary: List Library Categories
      description: List document categories in the company document library.
      responses:
        '200':
          description: List of library categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LibraryCategory'
components:
  schemas:
    LibraryCategory:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    LibraryDocument:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
        url:
          type: string
        uploaded_at:
          type: string
          format: date-time
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
