openapi: 3.2.0
info:
  title: HR Partner REST Reviews API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Reviews
  description: Read performance reviews and scoring.
paths:
  /reviews:
    get:
      tags:
      - Reviews
      operationId: listReviews
      summary: List Performance Reviews
      description: List performance reviews.
      parameters:
      - name: employee
        in: query
        schema:
          type: string
      - name: review_type
        in: query
        schema:
          type: string
      - name: review_status
        in: query
        schema:
          type: string
      - name: reviewer
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of reviews.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Review'
components:
  schemas:
    Review:
      type: object
      properties:
        id:
          type: string
        review_type:
          type: string
        description:
          type: string
        review_date:
          type: string
          format: date
        reviewer:
          type: string
        score:
          type: number
        review_status:
          type: string
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
