openapi: 3.2.0
info:
  title: HR Partner REST Applications API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Applications
  description: Read, create, and update job applications and stage data.
paths:
  /applications:
    get:
      tags:
      - Applications
      operationId: listApplications
      summary: List Applications
      description: List job applications.
      responses:
        '200':
          description: List of applications.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
    post:
      tags:
      - Applications
      operationId: createApplication
      summary: Create Application
      description: Create a new job application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: Created application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
  /applications/{id}:
    get:
      tags:
      - Applications
      operationId: getApplication
      summary: Get Application
      description: Retrieve a single application by id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
    post:
      tags:
      - Applications
      operationId: updateApplication
      summary: Update Application
      description: Update an existing application by id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: Updated application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
components:
  schemas:
    Application:
      type: object
      properties:
        id:
          type: string
        applicant_id:
          type: string
        job_listing_id:
          type: string
        stage:
          type: string
        applied_at:
          type: string
          format: date-time
        status:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
