openapi: 3.2.0
info:
  title: HR Partner REST Benefits API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Benefits
  description: Read employee benefit assignments.
paths:
  /benefits:
    get:
      tags:
      - Benefits
      operationId: listBenefits
      summary: List Benefits
      description: List employee benefit assignments.
      responses:
        '200':
          description: List of benefits.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Benefit'
components:
  schemas:
    Benefit:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        benefit_value:
          type: number
        benefit_value_period:
          type: string
        benefit_type:
          type: string
        benefit_provider:
          type: string
        benefit_status:
          type: string
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
