openapi: 3.2.0
info:
  title: HR Partner REST Absences API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Absences
  description: Read employee absence records.
paths:
  /absences:
    get:
      tags:
      - Absences
      operationId: listAbsences
      summary: List Absences
      description: List employee absence records.
      parameters:
      - name: employee
        in: query
        schema:
          type: string
      - name: absence_reason
        in: query
        schema:
          type: string
      - name: absence_status
        in: query
        schema:
          type: string
      - name: absence_date_from
        in: query
        schema:
          type: string
          format: date
      - name: absence_date_to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: List of absences.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Absence'
components:
  schemas:
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
    Absence:
      type: object
      properties:
        id:
          type: string
        leave_type:
          type: string
        absence_reason:
          type: string
        description:
          type: string
        absence_date:
          type: string
          format: date
        return_date:
          type: string
          format: date
        duration:
          type: number
        physician:
          type: string
        certificate_number:
          type: string
        absence_status:
          type: string
        employee:
          $ref: '#/components/schemas/EmployeeRef'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
