openapi: 3.2.0
info:
  title: HR Partner REST Expenses API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Expenses
  description: Read employee expense claims.
paths:
  /expenses:
    get:
      tags:
      - Expenses
      operationId: listExpenses
      summary: List Expense Claims
      description: List employee expense claims.
      parameters:
      - name: employee
        in: query
        schema:
          type: string
      - name: expense_status
        in: query
        schema:
          type: string
      - name: claim_date_from
        in: query
        schema:
          type: string
          format: date
      - name: claim_date_to
        in: query
        schema:
          type: string
          format: date
      - name: amount_from
        in: query
        schema:
          type: number
      - name: amount_to
        in: query
        schema:
          type: number
      responses:
        '200':
          description: List of expense claims.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Expense'
components:
  schemas:
    Expense:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        amount:
          type: number
        currency:
          type: string
        claim_date:
          type: string
          format: date
        expense_status:
          type: string
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
