openapi: 3.1.0
info:
  title: HR Partner REST Absences Goals API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees. This OpenAPI describes the public HR Partner REST API exposed at https://api.hrpartner.io, covering company information, employee records and sub-modules (contacts, addresses, notes, education, skills, training, assets, benefits, dependents, grievances, positions, renewables, attachments), leave management (requests, balances, absences), timesheets and projects, expenses, recruitment (job listings, applicants, applications, application-stage tracking, interviews), performance (reviews, goals), checklists, reminders, document library, and lookups. Authentication is via API key passed in the x-api-key header.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Goals
  description: Read performance and development goals.
paths:
  /goals:
    get:
      tags:
      - Goals
      operationId: listGoals
      summary: List Goals
      description: List performance and development goals.
      parameters:
      - name: employee
        in: query
        schema:
          type: string
      - name: goal_scope
        in: query
        schema:
          type: string
      - name: goal_type
        in: query
        schema:
          type: string
      - name: goal_is_active
        in: query
        schema:
          type: boolean
      - name: goal_is_completed
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: List of goals.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Goal'
components:
  schemas:
    Goal:
      type: object
      properties:
        id:
          type: string
        scope:
          type: string
        type:
          type: string
        description:
          type: string
        target_value:
          type: number
        can_exceed_target_value:
          type: boolean
        current_value:
          type: number
        is_active:
          type: boolean
        is_completed:
          type: boolean
        is_archived:
          type: boolean
        assigned_at:
          type: string
          format: date-time
        due_at:
          type: string
          format: date-time
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
