openapi: 3.2.0
info:
  title: HR Partner REST Checklists API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Checklists
  description: Read onboarding and offboarding checklists.
paths:
  /checklist:
    get:
      tags:
      - Checklists
      operationId: listChecklists
      summary: List Checklists
      description: List onboarding, offboarding, and other checklists.
      parameters:
      - name: employee
        in: query
        schema:
          type: string
      - name: checklist_status
        in: query
        schema:
          type: string
      - name: checklist_template
        in: query
        schema:
          type: string
      - name: show_details
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: List of checklists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Checklist'
components:
  schemas:
    Checklist:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        comments:
          type: string
        status:
          type: string
        assigned_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        progress:
          type: number
        percdone:
          type: number
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
