openapi: 3.1.0
info:
  title: HR Partner REST Absences Attachments API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees. This OpenAPI describes the public HR Partner REST API exposed at https://api.hrpartner.io, covering company information, employee records and sub-modules (contacts, addresses, notes, education, skills, training, assets, benefits, dependents, grievances, positions, renewables, attachments), leave management (requests, balances, absences), timesheets and projects, expenses, recruitment (job listings, applicants, applications, application-stage tracking, interviews), performance (reviews, goals), checklists, reminders, document library, and lookups. Authentication is via API key passed in the x-api-key header.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Attachments
  description: Read attachments stored against any HR Partner module.
paths:
  /attachments:
    get:
      tags:
      - Attachments
      operationId: listAttachments
      summary: List Attachments
      description: List attachments stored against any HR Partner module.
      responses:
        '200':
          description: List of attachments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attachment'
components:
  schemas:
    Attachment:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        url:
          type: string
        module:
          type: string
        module_id:
          type: string
        size:
          type: integer
        uploaded_date:
          type: string
          format: date-time
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
