openapi: 3.2.0
info:
  title: HR Partner REST Skills API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Skills
  description: Read employee skills and competency ratings.
paths:
  /skills:
    get:
      tags:
      - Skills
      operationId: listSkills
      summary: List Skills
      description: List employee skill ratings.
      parameters:
      - name: employee
        in: query
        schema:
          type: string
      - name: department
        in: query
        schema:
          type: string
      - name: skill_name
        in: query
        schema:
          type: string
      - name: skill_rating
        in: query
        schema:
          type: integer
      - name: skill_rating_from
        in: query
        schema:
          type: integer
      - name: skill_rating_to
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of skills.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Skill'
components:
  schemas:
    Skill:
      type: object
      properties:
        id:
          type: string
        skill_name:
          type: string
        skill_rating:
          type: integer
        comments:
          type: string
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
