openapi: 3.2.0
info:
  title: HR Partner REST Dependents API
  description: HR Partner is a cloud-based human resources management SaaS platform from HR Partner Software Pty Ltd (Australia), aimed at organizations of roughly 20 to 500 employees.
  version: 1.0.0
  termsOfService: https://hrpartner.io/terms-of-service
  contact:
    name: HR Partner Developer
    url: https://developer.hrpartner.io/
    email: developer@hrpartner.io
  license:
    name: Proprietary
    url: https://hrpartner.io/terms-of-service
servers:
- url: https://api.hrpartner.io
  description: HR Partner Production API
security:
- apiKeyHeader: []
tags:
- name: Dependents
  description: Read employee dependent records.
paths:
  /dependents:
    get:
      tags:
      - Dependents
      operationId: listDependents
      summary: List Dependents
      description: List employee dependent records.
      responses:
        '200':
          description: List of dependents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dependent'
components:
  schemas:
    Dependent:
      type: object
      properties:
        id:
          type: string
        dependent_type:
          type: string
        name:
          type: string
        contact_details:
          type: string
        date_of_birth:
          type: string
          format: date
        employee:
          $ref: '#/components/schemas/EmployeeRef'
    EmployeeRef:
      type: object
      properties:
        code:
          type: string
        first_names:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        department:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
